@model IEnumerable<FBMS.Web.ApiModels.ClientDTO>

@{
    ViewData["Title"] = "Clients";
}

<h2>Clients</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Account)
                </td>
                <td>
                <td>
                    @Html.ActionLink("Transactions", "Transactions", new { clientId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
