@{ ViewData["Title"] = "FBMS - iBet"; }

<div class="row">
    <div class="col-md-6">
        <h2>Client Crawler Actions</h2>
        <ul>
            <li><a asp-action="CrawlClients">Crawl Clients</a></li>
            <li><a asp-action="Clients">Clients</a></li>
            <li><a asp-action="DeleteClients">Delete Clients</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Transaction Crawler Actions</h2>
        <ul>
            <li><a asp-action="AllTransactions">All Transactions</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>API Actions</h2>
        <ul>
            <li><a href="/swagger">API Documentation (Swagger)</a></li>
        </ul>
    </div>
</div>
