<!-- Footbar -->
<footer class="footer">
    <div class="container-fluid">
        <div class="copyright float-right">
            <b>Copyright </b> &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>
            Myanmar Golden Agri Pte. Ltd. All rights reserved.
        </div>
    </div>
</footer>
<!-- ./ End Footbar -->