@using FBMS.Core.Dtos;

@model DashboardDto

@{
    ViewData["Title"] = "Dashboard";
}

<form asp-controller="Home" asp-action="StartTransactionJob" id="formStartTransactionJob">
</form>

<form asp-controller="Home" asp-action="StopTransactionJob" id="formStopTransactionJob">
</form>

<form asp-controller="Home" asp-action="StartSchedulingJob" id="formStartSchedulingJob">
</form>

<form asp-controller="Home" asp-action="StopSchedulingJob" id="formStopSchedulingJob">
</form>


<div class="container-fluid">

    <div class="row">
        <div class="col-md-4">
            <div class="card ">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">query_builder</i>
                    </div>
                    <h4 class="card-title">Background Worker Management</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="togglebutton">
                                <label>
                                    <input id="transactionJobToggle" type="checkbox" @(Model.IsRunningTransactionJob ? "checked" : "")>
                                    <span class="toggle"></span>
                                    @(Model.IsRunningTransactionJob ? "Transaction job is running" : "Transaction job is not running")
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="togglebutton">
                                <label>
                                    <input id="shedulingJobToggle" type="checkbox" @(Model.IsRunningSchedulingJob ? "checked" : "")>
                                    <span class="toggle"></span>
                                    @(Model.IsRunningSchedulingJob ? "Scheduling job is running" : "Scheduling job is not running")
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <a class="btn btn-outline-success btn-create" asp-controller="Home" asp-action="SendTestingEmail">
                                <i class="material-icons">mail_outline</i>
                                Send Testing Email
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            $('#transactionJobToggle').change(function () {
                if (this.checked) {
                    if (confirm('Are you sure want to start transaction job?')) {
                        $("#formStartTransactionJob").submit();
                    }
                } else {
                    if (confirm('Are you sure want to stop transaction job?')) {
                        $("#formStopTransactionJob").submit();
                    }
                }
            });

            $('#shedulingJobToggle').change(function () {
                if (this.checked) {
                    if (confirm('Are you sure want to start sheduling job?')) {
                        $("#formStartSchedulingJob").submit();
                    }
                } else {
                    if (confirm('Are you sure want to stop sheduling job?')) {
                        $("#formStopSchedulingJob").submit();
                    }
                }
            });
        });
    </script>
}
